/*=== Main ===*/
main .row {
  position: relative;
}

main .row::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -1;
  background-color: var(--text-color);
  border-radius: 1rem;
  opacity: 0.1;
}

main ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

main ul li a{
  color: var(--text-color);
}

main svg {
  border-radius: 0.5rem;
  width: 6rem;
  height: auto;
  padding: 0.5rem;
}